@model dynamic

<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-title">
            <p class="h2 fw-bold ms-3 mt-3">User List</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Group</th>
                                <th scope="col">Coin</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var participant in Model.participantsList)
                            {
                                <tr>
                                    <td>
                                        <img src="@participant.ImagePath" class="img-fluid me-2" alt="icon_user" style="width: 50px; height: 50px; object-fit: cover;">
                                @participant.ParticipantName
                                    </td>
                                    <td>@participant.Group</td>
                                    <td>@participant.TotalCoins</td>
                                </tr> 
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mb-3">
    @if(Model.pager.TotalPages > 0)
    {
        <nav>
            <ul class="pagination justify-content-start">
                @for(var pg = Model.pager.StartPage; pg <= Model.pager.EndPage; pg++)
                {
                    <li class="page-item @(pg == Model.pager.CurrentPage? "active" : "")">
                        <a class="page-link" data-page="@pg">@pg</a>                            
                    </li>
                }
            </ul>
        </nav>
    }
</div>

