@model List<UsersGroupModel>
@using BootCoin.Models

<div class="col-md-12 mb-3">
    <div class="card mb-3 p-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-md-2">
                <img src="https://cdn-icons-png.flaticon.com/512/1829/1829552.png" class="img-fluid rounded" style="height: 10vh;">
            </div>
            <div class="col-md-2">
                <h4 class="card-title">Group <span id="group-name">@Model.FirstOrDefault().Group</span></h4>
            </div>
            <div class="col-md-2 align-items-center">
                <p class="card-text fw-bold fs-6 text-muted">Total Coin</p>
                <h4 class="card-text">
                    <img src="/images/logo2.png" style="height: 5vh;" alt="logo" asp-append-version="true" />
                    <span id="group-total-coins">@Model.FirstOrDefault().TotalCoins</span>
                </h4>
            </div>
            <div class="col-md-2">
                <p class="card-text fw-bold fs-6 text-muted">Percentage</p>
                <h4 class="card-text">N/A</h4>
            </div>
            <div class="col-md-2">
                <p class="card-text fw-bold fs-6 text-muted">Total Member</p>
                <h4 class="card-text">@Model.FirstOrDefault().TotalMember</h4>
            </div>
            <div class="col-md-2">
                <p class="card-text fw-bold fs-6 text-muted">Rank</p>
                <h4 class="card-text">@Model.FirstOrDefault().Rank</h4>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-center">Coin Obtained</th>
                        <th scope="col" class="text-center">Redeemed Coin</th>
                        <th scope="col" class="text-center">Coin Remained</th>
                        <th scope="col" class="text-center">Add Coin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model)
                    {
                        <tr>
                            <td>
                                <img src="@user.ImagePath" class="img-fluid me-2" alt="icon_user" style="height: 5vh;">
                                @user.ParticipantName
                            </td>
                            <td class="text-center">@user.CoinsObtained</td>
                            <td class="text-center">@user.CoinsRedeemed</td>
                            <td class="text-center">@user.CoinsRemained</td>
                            <td class="text-center">
                                <button class="add-btn border-0 bg-transparent" type="button" data-bs-toggle="modal" data-bs-target="#add-coin-modal-@user.ParticipantID" data-url="@Url.Action($"AddCoins/{user.ParticipantID}")">
                                    <i class="bi bi-plus-circle-fill fs-4"></i>
                                </button>
                                @await Html.PartialAsync("_AddCoinsModal", user)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
            <button class="bg-warning fw-bold px-4 py-2 rounded" type="button" style="border: none;" data-bs-toggle="modal" data-bs-target="#add-user-@Model.FirstOrDefault().GroupID"><i class="bi bi-plus-circle-fill fs-6"></i> Add User</button>
            @await Html.PartialAsync("_AddUser", new AddUserModel() {GroupID = Model.FirstOrDefault().GroupID, GroupName = Model.FirstOrDefault().Group})

        </div>
    </div>
</div>