@model List<UsersGroupModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Coin Obtained</th>
            <th scope="col" class="text-center">Redeemed Coin</th>
            <th scope="col" class="text-center">Coin Remained</th>
            <th scope="col" class="text-center">Add Coin</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>
                    <img src="https://cdn-icons-png.flaticon.com/512/1144/1144811.png" class="img-fluid me-2" alt="icon_user" style="height: 5vh;">
                    @user.ParticipantName
                </td>
                <td class="text-center">@user.CoinsObtained</td>
                <td class="text-center">@user.CoinsRedeemed</td>
                <td class="text-center">@user.CoinsRemained</td>
                @*<td class="text-center add-btn" data-participant="@user.ParticipantID"><i class="bi bi-plus-circle-fill fs-4"></i></td>*@
                <td class="text-center">
                    <button class="add-btn border-0 bg-transparent" type="button" data-bs-toggle="modal" data-bs-target="#add-coin-modal-@user.ParticipantID" data-url="@Url.Action($"AddCoins/{user.ParticipantID}")">
                        <i class="bi bi-plus-circle-fill fs-4"></i>
                    </button>
                    @await Html.PartialAsync("_AddCoinsModal", user)
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-warning">Add User</button>

@*<script language="javascript">
    $('.add-btn').each((index, btn) => {
        $(btn).click(function () {
            let participantID = $(this).data('participant');
            $.ajax({
                type: 'GET',
                url: '/Home/AddCoins?ParticipantID=' + participantID,
                success: function (data) {
                    $('#modalLabel span').html(data.participantName);
                    $('.modal-body').html(data);
                    $('#add-coin-modal').modal('show');
                    console.log(data);
                }
            });
        });
    });
</script>*@